/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

* {
  font-family: 'Fira sans', sans-serif;
}

:root {
  --primary: #8c38ff;
  --light: #EEEEEE;
  --dark: #212121;
}





/******************************************
/* TYPOGRAPHY
/*******************************************/

h1 {
  color: #FFF;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/******************************************
/* LAYOUT CLASSES
/*******************************************/
.container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/******************************************
/* NAV
/*******************************************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: var(--dark);
  padding: 16px 32px;
  border-bottom: 3px solid var(--primary);
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;

}

.menu a{
  color: #FFF;
  margin: 0 16px;
  text-decoration: none;
  transition: 400ms;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu a.isActive, .menu a:hover{
  background-color: var(--primary);
}

  /*****************************
  /* Hamburger
  /***************************/
  .hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
  }

  .hamburger span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: var(--light);
    cursor: pointer;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 400ms;
  }

  .hamburger:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--primary);
  }

  .hamburger.isActive span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
  }

  .hamburger.isActive span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
  }

  .hamburger.isActive span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
  }

  .hamburger.isActive:hover span {
    background-color: var(--primary);
  }

  @media (min-width: 768px){
    .hamburger{
      display: none;
    }
    .menu{
      display: flex;
    }
  }

header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
